# dependencias
/node_modules
/.pnp
.pnp.js

# pruebas
/coverage

# next.js
/.next/
/out/

# producción
/build

# archivos de sistema
.DS_Store
*.pem

# logs de error
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# archivos de entorno local
.env*.local

# carpetas de firebase studio
/.firebase/
/firebase-debug.log*
